<div id="menu">
</div>

<div id="main" class="container">
    <p class="text-info text">Goods</p>

    <div class="list-items">
        <div class="item" ng-repeat="item in items">
            <p>{{ item.title }}</p>

            <img ng-src="{{ item.image }}" height="100px" width="160px" class="image">

            <span class="label label-success price">Price:
            <strong style="font: 24px Helvetica;"> {{ item.price }} </strong><span>rub</span></span>

			<form class="form">
				<p class=" switch-off">Off</p>

				<p class=" switch-on">On</p>
            <span class="article" style="position: relative; top: 10px;">
                <span class="badge badge-warning">Spice</span>
            </span>
            <span class="toggle-bg switcher">
                <input type="radio" name="toggle" value="off" ng-model="item.spices" disabled>
                <input type="radio" name="toggle" value="on" ng-model="item.spices" disabled>
                <span class="switch"></span>
            </span>

				<p class="article" style="margin-top: 40px;">
					<span class="badge badge-warning">Count</span>
					<span counter item-index="{{ $index }}"></span>
				</p>

				<a class="btn button" ng-click="add($index)"><i class="icon-shopping-cart"></i> Add to bag</a>
			</form>
        </div>
    </div>
</div>

