<div id="menu">
</div>

<div id="main" class="container">
    <p class="text-info text">Goods</p>

    <div class="list-items">
        <div class="item">
            <p>Title</p>

            <img src="img/Hydrangeas.jpg" height="100px" width="160px" class="image">

            <span class="label label-info price">Price:
            <strong style="font: 24px Helvetica;"> 20.00 </strong><span>rub</span></span>

            <p class="article">Spice</p>

            <!--<span class="toggle-bg">-->
            <!--<input type="radio" name="toggle" value="off">-->
            <!--<input type="radio" name="toggle" value="on">-->
            <!--<span class="switch"></span>-->
            <!--</span>-->

            <p class="article">Count</p>
            <!--<form>-->
                <!--<input type="number" min="0" max="10" step="1">-->
            <!--</form>-->

            <input type="button" value="Add to bag" class="btn button">
        </div>

        <div class="item">
            <p>Title</p>

            <img src="img/Koala.jpg" height="100px" width="160px" class="image">

            <span class="label label-info price">Price:
            <strong style="font: 24px Helvetica;"> 30.00 </strong><span>rub</span></span>

            <p class="article">Spice</p>

            <!--<span class="toggle-bg">-->
            <!--<input type="radio" name="toggle" value="off">-->
            <!--<input type="radio" name="toggle" value="on">-->
            <!--<span class="switch"></span>-->
            <!--</span>-->

            <p class="article">Count
                <input id="spinner" name="value" />
            </p>
            <input type="button" value="Add to bag" class="btn button">
        </div>

        <div class="item">
            <p>Title</p>

            <img src="img/Lighthouse.jpg" height="100px" width="160px" class="image">

            <span class="label label-info price">Price:
            <strong style="font: 24px Helvetica;"> 40.00 </strong><span>rub</span></span>

            <p class="article">Spice</p>

            <!--<span class="toggle-bg">-->
            <!--<input type="radio" name="toggle" value="off">-->
            <!--<input type="radio" name="toggle" value="on">-->
            <!--<span class="switch"></span>-->
            <!--</span>-->

            <p class="article">Count</p>
            <!--<form>-->
            <!--<input type="number" min="0" max="10" step="1">-->
            <!--</form>-->

            <input type="button" value="Add to bag" class="btn button">
        </div>
    </div>
</div>

